body{
    font-family: 'Open Sans', 'Sans';
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased !important;
}

h1{
    font-size: 20px;
}

/* START LOGIN */
.login-wrapper{
    background: url('../img/village-life-indonesia-herman-damar-11.jpg') fixed;
    width:100%;
    height:100%;
    position:absolute;
    display:table;
}

.login-inner{
    text-align: center;
    padding: 0px 20px 0px 20px;
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%:
}

.login-inner h1, .login-inner a{
    color: #FFFFFF;
}

.login-inner button{
    font-size: 20px;
}

.lupa-password{
    text-align: center;
}
/* END LOGIN */
